.orders_page{
  max-width: 1100px;
  margin: auto;
}
.orderpage{
  display: flex;
  margin: 20px 0px;
  flex-direction: column;
  gap: 20px;
}
.orders_page h1{
  margin-top: 20px;
  color: #2e2e2eee;
}
.order_pg{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eeee;
  padding: 20px;

}
.order_pg h2{
  text-transform: capitalize;
  font-size: 22px;
  color: #1a1a1aee;
}
.order_qty{
  display: flex;
  align-items: center;
  gap: 10px;
}
.order_qty p{
  color: #4b4b4bee;
}
@media screen and (max-width : 700px) {
  .orders_page{
   margin: 0px 20px
  }
  .orders_page h1{
    font-size: 16px;
  }
  .order_pg h2, .order_pg h3{
    font-size: 14px;
  }
  .order_pg{
    display: flex;
  flex-direction: column;
  gap: 20px;
  }
  .order_qty p{
    font-size: 11px;
  }
}
@media screen and (min-width : 701px) and (max-width : 1099px) {
  .orders_page{
   margin: 0px 20px
  }
}